In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
uce = pd.read_csv('uceResults.csv')
uce

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [3]:
UCE = uce.isnull().sum()
UCE

YEAR                      0
DISTRICT                  0
SCHOOL                    1
TOTAL CANDIDATES        271
TOTAL DIV 1            4781
% DIV 1                   0
TOTAL DIV 2             759
% DIV 2                   0
TOTAL DIV 3             471
% DIV 3                   0
TOTAL DIV 4             751
% DIV 4                   0
TOTAL DIV 7           11150
% DIV 7                   0
TOTAL DIV 9            4185
% DIV 9                   0
TOTAL X                4235
% X                       0
FEMALE CANDIDATES         0
FEMALE TOTAL DIV1      9114
FEMALE % DIV1            58
FEMALE TOTAL DIV2      3307
FEMALE % DIV2            58
FEMALE TOTAL DIV3      1165
FEMALE % DIV3            58
FEMALE TOTAL DIV4       958
FEMALE % DIV4            58
FEMALE TOTAL DIV7     12875
FEMALE % DIV7            58
FEMALE TOTAL DIV9      5290
FEMALE % DIV9            58
FEMALE TOTAL X         7043
FEMALE % X               58
MALE CANDIDATES           0
MALE TOTAL DIV1        7601
MALE % DIV1             134
MALE TOTAL DIV2        2397
MALE % DIV2             134
MALE TOTAL DIV3        1240
MALE % DIV3             134
MALE TOTAL DIV4        1379
MALE % DIV4             134
MALE TOTAL DIV7       10131
MALE % DIV7             134
MALE TOTAL DIV9        7120
MALE % DIV9             134
MALE TOTAL X           7260
MALE % X                134
dtype: int64

In [4]:
uce[['TOTAL CANDIDATES']].mode()

   TOTAL CANDIDATES
0              50.0

In [5]:
uceNew = uce.drop_duplicates()
uceNew

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [6]:
uceNew = uce.dropna()
uceNew

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
3197,2012,JINJA,JINJA SECONDARY SCHOOL,498.0,38.0,7.6,111.0,22.3,149.0,29.9,...,84.0,29.2,95.0,33.0,1.0,0.3,7.0,2.4,4.0,1.4
3263,2012,WAKISO,"VICTORIA HIGH SCHOOL,NANSANA",186.0,12.0,6.5,36.0,19.4,51.0,27.4,...,24.0,26.4,26.0,28.6,7.0,7.7,2.0,2.2,3.0,3.3
3327,2012,KAMPALA,MBUYA COLLEGE SCHOOL,107.0,6.0,5.6,21.0,19.6,29.0,27.1,...,11.0,19.0,26.0,44.8,2.0,3.4,1.0,1.7,1.0,1.7
3444,2012,KAMPALA,KOLOLO SECONDARY SCHOOL,411.0,18.0,4.4,62.0,15.1,104.0,25.3,...,49.0,23.3,94.0,44.8,3.0,1.4,10.0,4.8,1.0,0.5
3549,2012,RUKUNGIRI,RUKUNGIRI HIGH SCHOOL,169.0,6.0,3.6,26.0,15.4,45.0,26.6,...,19.0,30.2,21.0,33.3,1.0,1.6,1.0,1.6,3.0,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [7]:
# Replace NaN values with the mean of each column
uceNew = uce.fillna(uceNew.mean())
uceNew
# Replace NaN values with the median of each column
# uceNew = uceNew.fillna(uceNew.median())

C:\Users\USER\AppData\Local\Temp\ipykernel_4196\495186671.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  uceNew = uce.fillna(uceNew.mean())

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.00000,0.6,19.997442,0.0,...,11.103581,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,13.20844,0.0,19.997442,0.0,...,11.103581,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.00000,1.3,19.997442,0.0,...,11.103581,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.00000,2.7,19.997442,0.0,...,11.103581,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.00000,2.7,19.997442,0.0,...,2.000000,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.00000,8.1,30.000000,20.3,...,25.000000,24.0,53.000000,51.0,0.000000,0.0,10.000000,9.6,4.000000,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.00000,2.9,11.000000,16.2,...,7.000000,17.5,29.000000,72.5,0.000000,0.0,3.000000,7.5,0.000000,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.00000,3.1,6.000000,4.7,...,6.000000,5.8,54.000000,51.9,1.000000,1.0,31.000000,29.8,8.000000,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.00000,2.2,2.000000,4.4,...,2.000000,6.5,19.000000,61.3,0.000000,0.0,9.000000,29.0,1.000000,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.00000,2.0,4.000000,8.0,...,4.000000,18.2,10.000000,45.5,0.000000,0.0,7.000000,31.8,0.000000,0.0

In [8]:
uceNew

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.00000,0.6,19.997442,0.0,...,11.103581,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,13.20844,0.0,19.997442,0.0,...,11.103581,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.00000,1.3,19.997442,0.0,...,11.103581,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.00000,2.7,19.997442,0.0,...,11.103581,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.00000,2.7,19.997442,0.0,...,2.000000,0.0,22.465153,0.0,0.226662,0.0,6.199808,0.0,1.153133,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.00000,8.1,30.000000,20.3,...,25.000000,24.0,53.000000,51.0,0.000000,0.0,10.000000,9.6,4.000000,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.00000,2.9,11.000000,16.2,...,7.000000,17.5,29.000000,72.5,0.000000,0.0,3.000000,7.5,0.000000,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.00000,3.1,6.000000,4.7,...,6.000000,5.8,54.000000,51.9,1.000000,1.0,31.000000,29.8,8.000000,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.00000,2.2,2.000000,4.4,...,2.000000,6.5,19.000000,61.3,0.000000,0.0,9.000000,29.0,1.000000,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.00000,2.0,4.000000,8.0,...,4.000000,18.2,10.000000,45.5,0.000000,0.0,7.000000,31.8,0.000000,0.0

In [9]:
# Format float values with two decimal places
uceNew= uceNew.round(1)
uceNew

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,20.0,0.0,...,11.1,0.0,22.5,0.0,0.2,0.0,6.2,0.0,1.2,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,13.2,0.0,20.0,0.0,...,11.1,0.0,22.5,0.0,0.2,0.0,6.2,0.0,1.2,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,20.0,0.0,...,11.1,0.0,22.5,0.0,0.2,0.0,6.2,0.0,1.2,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,20.0,0.0,...,11.1,0.0,22.5,0.0,0.2,0.0,6.2,0.0,1.2,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,20.0,0.0,...,2.0,0.0,22.5,0.0,0.2,0.0,6.2,0.0,1.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [10]:
uceNew.mean()

C:\Users\USER\AppData\Local\Temp\ipykernel_4196\3421494861.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  uceNew.mean()

YEAR                  2013.582119
TOTAL CANDIDATES       100.137411
TOTAL DIV 1              9.196786
% DIV 1                  6.226481
TOTAL DIV 2             15.935643
% DIV 2                 14.748733
TOTAL DIV 3             22.477862
% DIV 3                 22.165344
TOTAL DIV 4             46.020460
% DIV 4                 45.378326
TOTAL DIV 7              0.637678
% DIV 7                  0.382244
TOTAL DIV 9             10.422133
% DIV 9                  7.266540
TOTAL X                  2.547934
% X                      2.298084
FEMALE CANDIDATES       47.332332
FEMALE TOTAL DIV1        3.926096
FEMALE % DIV1            3.803691
FEMALE TOTAL DIV2        7.409626
FEMALE % DIV2           11.358093
FEMALE TOTAL DIV3       10.779778
FEMALE % DIV3           20.368088
FEMALE TOTAL DIV4       24.174511
FEMALE % DIV4           49.813357
FEMALE TOTAL DIV7        0.298543
FEMALE % DIV7            0.320800
FEMALE TOTAL DIV9        6.005953
FEMALE % DIV9            8.919927
FEMALE TOTAL X           1.355406
FEMALE % X               2.282771
MALE CANDIDATES         51.240376
MALE TOTAL DIV1          5.645677
MALE % DIV1              7.163093
MALE TOTAL DIV2          9.221555
MALE % DIV2             16.072340
MALE TOTAL DIV3         12.068655
MALE % DIV3             22.265633
MALE TOTAL DIV4         21.808918
MALE % DIV4             40.708339
MALE TOTAL DIV7          3.512059
MALE % DIV7              0.427343
MALE TOTAL DIV9          5.666081
MALE % DIV9              6.115641
MALE TOTAL X             1.634106
MALE % X                 2.207636
dtype: float64

In [11]:
uceNew.plot(x='Year', y='Sales', kind='line')
plt.show()

KeyError: 'Year'