In [1]:
x, y,w = 23,"hey my dear", 54

print(x)
print(y)
print(w)

23
hey my dear
54

In [2]:
if 4 >3: print("hey am now 22")

hey am now 22

In [4]:
print (x + w)

77

In [7]:
print(" Adam is hungry naye mama " + y)

 Adam is hungry naye mama hey my dear

In [11]:
x = "hey there"
def myfunct():
    print("This is a global variable " + x)
    
myfunct()

This is a global variable hey there

In [16]:
#to create a global variable iunside a function, we use the global key word
def funct():
    global x
    x =23
    global y
    y =22
    print(x+y)
    
funct()
print( x+y)

45
45

In [17]:
print(type(x))

<class 'int'>

In [18]:
a = "Hello, World!"
print(a[1])

e

In [19]:
#a dictionary is a collection which is unordered
#a list is ordered but changeable
# a set is a collection of ordered elemnets, which can be not be repeated 


alist= [2,4,6,7,8,9]
print(alist)

[2, 4, 6, 7, 8, 9]

In [20]:
print(alist[-3])

7

In [22]:
list2 =["d","c","y"]
listMarged = alist + list2
print(listMarged)

[2, 4, 6, 7, 8, 9, 'd', 'c', 'y']

In [24]:
print(listMarged.append(22))

None

In [25]:
for x in listMarged:
    print(x)

2
4
6
7
8
9
d
c
y
22

In [28]:
thisturple = [2,4,5,6,7,8]
for x in thisturple:
    print(x)

2
4
5
6
7
8

In [29]:
print(len(thisturple))

6

In [1]:
thiset ={2,4,5,6,7,8,9}
for x in thiset:
    print(x)

2
4
5
6
7
8
9

In [2]:
print(thiset)

{2, 4, 5, 6, 7, 8, 9}

In [3]:
thisset={2,4,5,6,6,7,8}
print(thisset)

{2, 4, 5, 6, 7, 8}

In [4]:
thiset.add(10)
print(thiset)

{2, 4, 5, 6, 7, 8, 9, 10}

In [5]:
set1 ={2,4,67,89,9}
set2 ={3,2,69,100}
set3 =set2.union(set1)
print(set3)

{2, 3, 100, 69, 67, 4, 9, 89}

In [32]:
a = 34
b = 65
if a > b:
    print ("a is greater b")
elif b > a:
    print("the reverse is true, b is greate a")

the reverse is true, b is greate a

In [29]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [31]:
a = 23
b = 76
if a > b:
   print("they syolll")
elif a<b:
    print("hey my freinf")

hey my freinf

In [39]:
x=2
while(x<5):
    print(x)
    x +=1

2
3
4

In [45]:
x= 2
while(x<17):
    print(x)
    if(x==8):
      break
    x +=2

2
4
6
8

In [46]:
str =(2,5,7,8,9,10)
for x in str:
    print(x)

2
5
7
8
9
10

In [2]:
#specifying the datatype
x=str("2")
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

2
3
3.0

In [53]:
fname = input("Enter your first name ")
lastname =input("enter ur last name ")
def urname(fname,lastname):
    print("Your name is " + fname , lastname)
urname(fname, lastname)

Enter your first name adam
enter ur last name oscar
Your name is adam oscar

In [8]:
#Running python sripts
print('Runnin python script')
#PEP8 python guidelines
  #indentation
  #characters dont ecxeed 79
  #use underscore to separate words 
  #Snake_case
  #CamelCase:This is a camel case version
  
  #comments
  #This is a single line comment
 
"""
This is a multiline comment Multiline comments
"""
 #Variables
name="Adam"
age=22
print(name)
print(age)

#specifying the datatype
x=str(22)
y=int(23)
z=float(3)
print(x)
print(y)
print(z)

#DataStructures(Data types)
"""
Numeric values are 1-10
Numeric takes two forms:
intergers(int)
float e.g pi=3.14

Strings can be represented using single qoutes or double qoutes, e.g 'Adam' and "Adam ssebatta",Numbers in form of string eg "10",'4'

Boolean values are logical values either True or False
Booleans represent one of two values: True or False.

Sequence Types
"""
"""
list  is a collection which is ordered and changeable. Allows duplicate members.
it is enclosed with square brackets"[]" represented in ordered collection
"""
eg 
alist= [2,4,6,7,8,9]
print(alist)
# you can accesss the members individually or by itterarting through
#eg
#accessing an a uniquie element
print(alist[1])

for x in alist:
    print(z)


"""

tuple
A tuple is a collection which is ordered and unchangeable. 
they enclosed with parentheses ()

"""
eg
datuple = (2,4,5,6,7,8,9)
print(datuple)
"""
can access tuple items by referring to the index number 
eg
"""
print(datuple[1])
print(thistuple[3])
"""
a tuple can be change or alltered depending on what is need
"""


"""

range-use iteration,loops
 the range() function is a built-in function used to generate a sequence of numbers from the start inclussive, to the last number not inclussive
 It returns an object that represents a sequence of numbers within a specified range. The range() function can be called with up to three arguments: range(start, stop, step).

Here's an explanation of each argument:

start (optional): The starting point of the range (inclusive). If not provided, it defaults to 0.
stop (required): The ending point of the range (exclusive). It generates numbers up to, but not including, this value.
step (optional): The increment or step size between the numbers. If not provided, it defaults to 1.
The range() function returns an iterable object that can be used in various ways, such as in loops or in combination with other functions
eg

"""
for num in range(5):
    print(num)
# the range(5) function generates a sequence of numbers from 0 to 4
my_list = list(range(1, 6))
print(my_list)


"""
Mapping types
dict-dictionary is enclosed with cury brackets {}
eg
"""
{ 
name: 'Adam',age:22
}
#or
{name:'Jeff',age:30}

item_dict = {"Apple": None, "Mango": None, "Banana": None}
# unordered collection type,unique

#None Types:None represents absence of a value
"""
"""

hey=True
print(hey)

Runnin python script
Adam
22
2
3
3.0

NameError: name 'eg' is not defined

In [4]:
#tuples
#A tuple is a collection which is ordered and unchangeable
#eg
tple = (2,34,5,6,7,8)
print(tple)


"""
Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets
eg
"""
print(tple[2])

"""
or you can use negative indices to acces the items in the tuple
Negative indexing means beginning from the end, -1 refers to the last item, -2
eg
"""
print(tple[-4])

#Allow duplicate values
phones=("samsag","Ipone","Techno","Iphone","Techo")
print(phones)
"""
To use the len() function with a tuple, you can create a tuple called phones and then use len() to determine its length.
In this example, the len() function is used to calculate the length of the phones tuple, which contains four elements. The result, 4, is then printed to the console.

"""
    
phones = ("iPhone", "Samsung", "Google Pixel", "Huawei")
print(len(phones))

#Tuples can have different datatypes
people=("adam","myname")
Number=(14,23,45,45)
print(type(Number))

#add items to a tuple(first convert the tuple to a list,then convert it back to the tuple)
Cars=("Rangerover","Benz","Ford")
z=list(Cars)
z.append("Tizi")
Cars=tuple(z)
print(Cars)


#putting 2 tuples in one tuple
#To join two or more tuples you can use the + operator:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#looping through the tuples for loop
colors=("red","blue","orage")
for x in colors:
    print (x)

(2, 34, 5, 6, 7, 8)
5
5
('samsag', 'Ipone', 'Techno', 'Iphone', 'Techo')
4
<class 'tuple'>
('Rangerover', 'Benz', 'Ford', 'Tizi')
('a', 'b', 'c', 1, 2, 3)
red
blue
orage

In [5]:
#lists,tuples,dictionaries,sets
# the datatype
#To know the datatype of the element , we use the type() function 
w=40
print(type(w))
z="Hello"
print(type(z))
x=2.1
print(type(x))
y=0.55
print(type(y))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [6]:
#store multiple items  in the singlevariable
#unchangable
"""
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
"""


food={"rice","matooke","irish","potato"}
print(food)
#duplicates in sets
foodie={"rice","matooke","irish","potato","rice","rice"}
#Exercise:Length of the set,datatype,
"""
created a set called fruits with four elements. We use the len() function to calculate the length of the set, which is 4. 
The type() function is used to determine the data type of the set, which is set.
"""
fruits = {"apple", "banana", "orange", "mango"}
print(len(fruits))     # Output: 4
print(type(fruits))    # Output: <class 'set'>

# accessing items in a set,adding items ,add two sets together

fruits = {"apple", "banana", "orange", "mango"}
for fruit in fruits:
    print(fruit)
#we iterate over the fruits set using a for loop and print each item. The loop traverses the set and outputs each element on a separate line.

#length
food={"rice","matooke","irish","potato"}
print(len(food))
#finding the datatype
print(type(food))
#accessing elements in a set
"""Acess List items,we cant access but we can
#loop through the srt items using a for loop or ask
if a specific value is present using the in keyword
"""
food={"rice","matooke","irish","potato"}
for x in food:
    print(x)
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)
 #Checking if item is there
food={"rice","matooke","irish","potato"}
print("rice"in food)#outputs true

  #Adding items to the set
food={"rice","matooke","irish","potato"} 
food.add("Chicken")
print(food)

# #Adding multiple items we use update()
# food={"rice","matooke","irish","potato"}
# food.update(["kikomado","fish"])

#Joining two sets
set1={1,2,3,4}
set2={5,6}
set3=set1.union(set2)
print(set3)

{'rice', 'matooke', 'potato', 'irish'}
4
<class 'set'>
rice
matooke
potato
irish
True
{'irish', 'matooke', 'rice', 'potato', 'Chicken'}
{1, 2, 3, 4, 5, 6}

In [1]:
#Lists are used to store multiple items
#Lists are ordered,changeable,and allows duplicate values
Afternoon=["Adam","Belar","Titi","Weti","Oscar"]
print(Afternoon)

#Duplicates in Lists
Morning=["Adam","Tracy","Titi","Adam","Oscar","Titi"]
print(Morning)

#List Length
print(len(Morning))

#List Type
print(type(Afternoon))

#Acess List items
print(Afternoon[2])
print(Afternoon[1])

#negative indexing,there is no zero,we start from -1
print(Afternoon[-1])

Afternoon.append("Plau")
print(Afternoon)
#Acessing rage of items
print(Afternoon[3:5])
#this means all beginning items excluding that at position 4
print(Afternoon[:4])
 
print(Afternoon[1:])

#Adding at a specific index
Afternoon.insert(0,"livi")
print(Afternoon)
#Removing list items
Afternoon.remove("livi")
print(Afternoon)
#remove list items using an index
Afternoon.pop(3)

['Adam', 'Belar', 'Titi', 'Weti', 'Oscar']
['Adam', 'Tracy', 'Titi', 'Adam', 'Oscar', 'Titi']
6
<class 'list'>
Titi
Belar
Oscar
['Adam', 'Belar', 'Titi', 'Weti', 'Oscar', 'Plau']
['Weti', 'Oscar']
['Adam', 'Belar', 'Titi', 'Weti']
['Belar', 'Titi', 'Weti', 'Oscar', 'Plau']
['livi', 'Adam', 'Belar', 'Titi', 'Weti', 'Oscar', 'Plau']
['Adam', 'Belar', 'Titi', 'Weti', 'Oscar', 'Plau']

'Weti'

In [1]:
dict={
   1: "You are so sad, what may be the problem",
   2: "You are kinda sad, can i be of help",
   3: "You are still not fine, what's realy wrong?",
   4: "We are getting there soon, feel free to tell me more",
   5: "Fair, how can i make you feel great?",
   6: "Still not fine enough, tell me more",
   7: "You feel great, but i want 10/10",
   8: "Fairly great, just calm your mind and cool down",
   9: "Great, keep it up",
   10: "Perfectly Great, Woooooooow Keep that good model",

}

# print(dict)

emotion= input("On a scale of 1-10, how are you feeling?")

try:
    emotion= int(emotion)
except ValueError as error:
    print("ValueError: ", error)
    print("Please enter a number between 1-10.")
    exit()

    if emotion in dict:
        print(dict[emotion])

On a scale of 1-10, how are you feeling?2